work/
results/
inputs/
nextflow_ci/
reports/                                                 
tmpdir/  
tmp/                                                    
notebook/
singularity_cache/

*.nfs*
*.img
*.log

conf/secrets.config

report*
trace*
log
err
bsub.sh

.DS_Store
.ipynb_checkpoints
.nextflow*
.nextflow/                                               
.nextflow.log   
